<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="main">

  <img src="images/background-home.jpeg" alt="casa dos flintstones" class="background">

  <div class="content">
    <app-menu></app-menu>
    <div class="container text-center texto-central">
      <div class="titulo-branco">
        <h1>SEU ESPAÇO</h1>
      </div>
      <div class="titulo-laranja">
        <h1>YABADABADOO</h1>
      </div>
    </div>
  </div>
</div>

<app-precos></app-precos>
<app-cardapio></app-cardapio>
</body>
</html>