<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tabela de Preços</title>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500;700&display=swap" rel="stylesheet">
</head>

<body>

    <main>
        <div class="tabela" id="precos">
            <div class="tabela-header">
                <h1>TABELA DE PREÇOS</h1>
                <small>MÁX. 6 PESSOAS</small>
            </div>
            <div class="preco-box">
                <div class="preco">
                    <span>SEGUNDA A QUINTA</span>
                    <span class="valor">R$ 90,00</span>
                    <span class="por-hora">A HORA</span>
                </div>
                <div class="preco">
                    <span>SEXTA A DOMINGO</span>
                    <span class="valor">R$ 120,00</span>
                    <span class="por-hora">A HORA</span>
                </div>
            </div>
            <p class="nota">* EM VÉSPERAS DE FERIADOS E FERIADOS, SERÁ COBRADO O VALOR DE SEXTA A DOMINGO</p>
            <img src="images/fred-preco.png" alt="Personagem" class="personagem">
        </div>
    </main>

</body>

</html>