<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="shadow"></div>

    <main>
        <div class="content">
            <p>VERIFICAR RESERVAS</p>
            <a href="/verificarReservas"><img src="images/right-arrow.png" alt="right-arrow" width="70px"></a>
        </div>

        <h1>MODIFICAR:</h1>

        <div class="content">
            <p>PREÇOS</p>
            <a href="modificarPrecos"><img src="images/right-arrow.png" alt="right-arrow" width="70px"></a>
        </div>
        <div class="content">
            <p>CARDÁPIO</p>
            <a href="modificarCardapio"><img src="images/right-arrow.png" alt="right-arrow" width="70px"></a>
        </div>
        <div class="content">
            <p>RANKING</p>
            <a href="modificarRanking"><img src="images/right-arrow.png" alt="right-arrow" width="70px"></a>
        </div>
        <div class="content">
            <p>PISTAS</p>
            <a href="modificarPista"><img src="images/right-arrow.png" alt="right-arrow" width="70px"></a>
        </div>

        <div class="content">
            <p>BLOQUEAR DATA/HORA</p>
            <a href="modificarBloqueio"><img src="images/right-arrow.png" alt="right-arrow" width="70px"></a>
        </div>
    </main>
</body>

</html>