<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <form action="#" id="precos">
        <h1>ALTERAR PREÇOS</h1>
        <label for="diasDeSemana">De Segunda a Quinta: </label> <br>
        <input type="number" name="diasDeSemana"> <br>
        <label for="finaisDeSemana">Sexta a Domingo (feriados): </label> <br>
        <input type="number" name="finaisDeSemana">

        <button type="submit">SALVAR</button>
    </form>
    </main>
</body>
</html>
