<div class="background">
    <div class="container">
        <h2>COMO FUNCIONA?</h2>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 d-flex justify-content-center">
                <img src="images/dino-como-funciona.png" alt="dino" class="dino img-fluid">
            </div>
        </div>

        <div class="content-orange">
            <div class="titulo-preto">Sobre o uso das pistas:</div>
            <ul class="conteudo-branco">
                <li>São permitidas, no máximo, 6 pessoas no espaço da pista, independente de estar jogando ou não e mesmo que sejam crianças;</li>
                <li>Os calçados devem ser fechados e com solado de borracha;</li>
                <li>É proibido jogar com sapatos de salto ou descalço;</li>
                <li>É proibido jogar bolas altas;</li>
                <li>Não bata a bola na pista ou no perímetro de jogadas (aprouche);</li>
                <li>É proibido ultrapassar a linha de falta (linha vermelha).</li>
            </ul>

            <div class="titulo-preto">Outras informações sobre conduta:</div>
            <ul class="conteudo-branco">
                <li>É proibido fumar no estabelecimento;</li>
                <li>Não permitimos a entrada de animais;</li>
                <li>Não permitimos a entrada de pessoas com capacete na cabeça;</li>
                <li>É proibida a entrada de pessoas sem camisa;</li>
                <li>Não nos responsabilizamos por objetos pessoais no local.</li>
            </ul>

            <div class="titulo-preto">Sobre o jogo:</div>
            <ul class="conteudo-branco">
                <li>Os pontos são contados pela quantidade de pinos acertados;</li>
                <li>Em cada rodada tem 2 jogadas, a menos que você faça strike, daí joga uma vez só;</li>
                <li>Ao todo são 10 rodadas na partida;</li>
                <li>Se você acertar todos os pinos de primeira (strike), ele vale 10 pinos e dobra a próxima rodada;</li>
                <li>Dois strikes seguidos triplicam a primeira jogada e dobram a segunda da próxima rodada;</li>
                <li>Se você acertar tudo na segunda jogada (spare), dobra a próxima jogada da rodada seguinte;</li>
                <li>Na última rodada, se fizer strike ou spare, você tem direito a 3 jogadas.</li>
            </ul>
        </div>
    </div>
</div>

<app-footer></app-footer>
